Repository OpenModelica/OMSimulator, pull requests merged in 2019-02, with the labels that each got.

#611 Fix command-line option --solver
  src/OMSimulatorLib/Flags.cpp
  src/OMSimulatorLib/Flags.h
Labels: bug-fix

#617 Add oms_setRealInputDerivative to the API
  doc/UsersGuide/source/api/setRealInputDerivative.rst
  src/OMSimulatorLib/Logging.h
  src/OMSimulatorLib/OMSimulator.cpp
  src/OMSimulatorLib/OMSimulator.h
  src/OMSimulatorLib/System.cpp
  src/OMSimulatorLib/SystemWC.cpp
  src/OMSimulatorLib/SystemWC.h
  src/OMSimulatorLua/OMSimulatorLua.c
  src/OMSimulatorPython/OMSimulator.py
Labels: doc, enhancement

#620 Sort API calls in the documentation
  doc/UsersGuide/source/conf.py
Labels: doc

#623 Mutex protection for TLM socket initialization
  src/OMSimulatorLib/TLM/SystemTLM.cpp
Labels: bug-fix

#629 Fix flag --resultFile
  src/OMSimulatorLib/Flags.cpp
Labels: bug-fix

#634 Check if submodule was updated unexpectedly
  Jenkinsfile
Labels: Jenkins

#633 Test MSVC64 builds
  Jenkinsfile
Labels: Jenkins

#641 Build CentOS7
  .CI/centos7/Dockerfile
  Jenkinsfile
Labels: Jenkins
